[submodule "benchmark/benchmark/tools/ksw2"]
	path = benchmark/tools/ksw2
	url = https://github.com/lh3/ksw2
[submodule "benchmark/tools/libgaba"]
	path = benchmark/tools/libgaba
	url = https://github.com/ocxtal/libgaba
[submodule "benchmark/tools/seqan"]
	path = benchmark/tools/seqan
	url = https://github.com/seqan/seqan
[submodule "benchmark/benchmark/tools/parasail"]
	path = benchmark/benchmark/tools/parasail
	url = https://github.com/jeffdaily/parasail.git
[submodule "benchmark/benchmark/tools/edlib"]
	path = benchmark/benchmark/tools/edlib
	url = https://github.com/Martinsos/edlib.git
[submodule "benchmark/tools/edlib"]
	path = benchmark/tools/edlib
	url = https://github.com/Martinsos/edlib.git
[submodule "benchmark/tools/parasail"]
	path = benchmark/tools/parasail
	url = https://github.com/jeffdaily/parasail.git
[submodule "benchmark/tools/Complete-Striped-Smith-Waterman-Library"]
	path = benchmark/tools/Complete-Striped-Smith-Waterman-Library
	url = https://github.com/mengyao/Complete-Striped-Smith-Waterman-Library.git
[submodule "benchmark/tools/sequence_alignments"]
	path = benchmark/tools/sequence_alignments
	url = https://github.com/sbrb/sequence_alignments
