[submodule "benchmark/benchmark/tools/ksw2"]
	path = benchmark/benchmark/tools/ksw2
	url = https://github.com/lh3/ksw2
[submodule "benchmark/tools/libgaba"]
	path = benchmark/tools/libgaba
	url = https://github.com/ocxtal/libgaba
[submodule "benchmark/tools/seqan"]
	path = benchmark/tools/seqan
	url = https://github.com/seqan/seqan
